* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0A369D, #5E7CE2);
    color: #CFDEE7;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    border-radius: 10px;
}

section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

.sobre {
    background-color: #92B4F4;
    color: #0A369D;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.projetos{
    background-color: #92B4F4;
    color: #0A369D;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px
}

header {
    background-color: #0A369D;
    color: #CFDEE7;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

nav a {
    color: #CFDEE7;
    text-decoration: none;
    font-weight: bold;
    background-color: #4472CA;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

nav a:focus {
    outline: 2px solid #fff;
    outline-offset: 4px;
}

nav a:hover {
    background-color: #5E7CE2;
    text-decoration: underline;
}

main {
    padding: 20px;
}

.contato {
    background-color: #4472CA;
    color: #fff;
    padding: 2rem;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
}

.contato form {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 5px;
    border: 1px solid #5E7CE2;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 0.75rem;
    border: 1px solid #5E7CE2;
    border-radius: 5px;
    box-sizing: border-box;
    align-self: center;
}

button[type="submit"] {
    padding: 0.75px;
    background-color: #0A369D;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
    display: inline-block;
    border: none;
    margin: auto;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #5E7CE2;
}

footer {
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-direitos {
    font-size: 14px;
    color: #ccc;
    
}

.footer-links{
    margin-bottom: 12px;
}

.footer-links a {
    color: #ffffff;
    background-color: #4472CA;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 6px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.footer-links a:hover {
    background-color: #5E7CE2;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        display: block;
        padding: 10px;
        text-align: center;
    }

    header h1 {
        font-size: 24px;
    }

    .sobre, section article {
        margin: 10px;
        padding: 10px;
    }

    footer {
        padding: 10px 0;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links a {
        margin: 6px 0;
        width: 100%;
        max-width: 250px;
    }
}