* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0A369D, #5E7CE2);
    color: #CFDEE7;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sobre {
    background-color: #92B4F4;
    color: #0A369D;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.projetos{
    background-color: #92B4F4;
    color: #0A369D;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px
}

header {
    background-color: #0A369D;
    color: #CFDEE7;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

nav a {
    color: #CFDEE7;
    text-decoration: none;
    font-weight: bold;
    background-color: #4472CA;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background 0.3;
}

nav a:hover {
    background-color: #5E7CE2;
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-direitos {
    font-size: 14px;
    color: #ccc;
    
}

.footer-links{
    margin-bottom: 12px;
}

.footer-links a {
    color: #ffffff;
    background-color: #4472CA;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 6px;
    display: inline-block;
}

.footer-links a:hover {
    background-color: #5E7CE2;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        display: block;
        padding: 10px;
        text-align: center;
    }

    header h1 {
        font-size: 24px;
    }

    .sobre, section article {
        margin: 10px;
        padding: 10px;
    }

    footer {
        padding: 10px 0;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links a {
        margin: 6px 0;
        width: 100%;
        max-width: 250px;
    }
}